extends layout
block content
  style.
    #aaa{background-color:rgb(128,0,255);width:850px;height:600px;}
  div#aaa
    form(method='post')
      input(type='text',name='flag')
      input(type='submit')
      