extends layout

block content
  style.
    #main
    {
      background-color:blue;
      width:850px;
      height:500px;
      text-align:center;
    };
  div#main
    p()
       h1= title
       p Welcome to #{title}
